
.headerSection{
    display:flex;
    gap:1rem;
    height:60vh;
    /* background:green; */
}

.headerSection div{
    border-radius: 1rem;
    /* background:grey; */
}

.header1{
    flex:1;
    background:linear-gradient(255deg,transparent,rgb(236, 226, 226)),url(./images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    /* clip-path: polygon(40% 0%,100% 0%,1000% 100%,0% 100%); */
}
.header1 div{
    text-align: center;
    padding:5px;
    position:absolute;
    top:30%;
    left:0%;
}
.header1 p{
    font-size: 1.3rem;
    font-weight: bold;
}
.header1 div input{
    padding:1rem;
    border:none;
    margin-bottom: 1rem;
}
.header3{
    flex:1;
}
.header2{
    flex:2;
}
.header3 div{
    height:49%;
    
}
.header3 div:first-child{
    margin-bottom: 1rem;
}

.header3 div:first-child{
    background:linear-gradient(255deg,transparent,rgb(236, 226, 226)),url(./images/gift3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
}
.header3 div:first-child div{
    text-align: center;
    padding:5px;
    position:absolute;
    top:30%;
    left:0;
}

.header3 div:first-child div p{
    font-size: 1.1rem;
    font-weight: bold;
}


.lastChild{
    background:linear-gradient(255deg,transparent,rgb(236, 226, 226)),url(./images/discount.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
}

.lastChild div{
    height:0;
    width:60%;
    text-align: center;
    padding:5px;
    position:absolute;
    top:35%;
    left:16%;
}

.lastChild div p{
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

